@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* General Styles */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Container */
.course-container {
    display: flex;
    justify-content: center;   
    padding: 20px;
    min-height: 100vh;
    
}

/* Course Wrapper */
.course-wrapper {
    background-color: white;
    max-width: 1200px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Course Image */
.course-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Course Content */
.course-content {
    padding: 20px 40px;
    text-align: center;
}

.course-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

.course-description {
    font-size: 1.125rem;
    color: #555;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
}

.syllabus-title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

/* Course Grid */
.course-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .course-grid {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .course-grid {
      grid-template-columns: repeat(3, 1fr);
    }
}

/* Course Card */
.course-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    font-family: 'Inter', sans-serif;
}

.course-card:hover {
    transform: translateY(-5px);
    /* Purple box shadow */
    box-shadow: 0 0 15px rgba(160, 32, 240, 0.7); 
}

.course-number {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

.course-card-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

/* View Course Button */
.my-button {
    background-color: #A020F0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Inter', sans-serif;
}
