@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif; /* Updated font family to Poppins */
  font-size: 1.5rem;
  background: linear-gradient(to bottom, #030303, #9B51E0) !important; 
  color: white; /* Ensures text is readable against the dark background */
}
